parameters:
    ignoreErrors:
        -
            identifier: missingType.iterableValue
    level: 7
    excludePaths:
        - '%rootDir%/../../../src/Spryker/ProductList/src/Spryker/Zed/ProductList/Persistence/ProductListRepository.php'
